img {
    position: relative;
    left: 0;
    top: 0;
}

body {
    background-image: url("mario.jpg");
    background-repeat: no-repeat;
}

#mario {
    position: absolute;
    top: 600px;
}

#fireball {
    position: relative;
    top: 600px;
    right: -60px;
}

#goomba {
    position: absolute;
    top: 590px;
    right: 0;

}

.hidden {
    display: none;
}

.shown {
    display: inline;
}
