img {
    position: relative;
    left: 0;
    top: 0;
}

body {
    background-image: url("mario.jpg");
    background-repeat: no-repeat;
}

#mario {
    position: absolute;
    top: 600px;
}

#fireball {
    position: relative;
    top: 600px;
    right: -60px;
}


#goomba1 {
    position: absolute;
    top: 590px;
    right: 0;

}

#goomba2 {
    position: absolute;
    top: 590px;
    right: 250px;

}

#goomba3 {
    position: absolute;
    top: 590px;
    right: 970px;

}


#question1 {
    position: absolute;
    top: 490px;
    right:144px;
}

#question2 {
    position: absolute;
    top: 490px;
    right:200px;
}

#question3 {
    position: absolute;
    top: 504px;
    right:670px;
}



.hidden {
    display: none;
}

.shown {
    display: inline;
}
